.container{
    text-align: center;
    margin-top: 50px;
}
table{
    margin: auto;
}
input{
    font-size: 21px;
    border: 2px solid;
}
button{
    width: 62px;
    height: 50px;
    font-size: 40px;
    background-color: cornflowerblue;
    border-radius: 30px;
    border: 1px;
    cursor: pointer;
}
.calculator{
    display: inline-block;
    background-color: chocolate;
}